.layout {
  background-color: var(--color-background);
  height: 100%;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}