.match-actions {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%; // ocupa toda a largura do card, mas não ultrapassa
  max-width: 100%; // garante que não passe do card
  background: none;
  padding-bottom: 2rem;

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 56px;
      height: 56px;
    }

    &:hover {
      transform: scale(1.18);
    }
  }
}